@font-face
{
	font-family: ifont;
	src:url(digital.ttf);
}

body
{
	background-image:url(img/1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.container
{
	position: absolute;
	margin-top: 25%;
	margin-left: 50%;
	margin-bottom: 25%;
	margin-right: 25%;
	transform: translate(-50%,-50%);
	text-align: center; 
	padding: 12px;
	background-color: #7082F2;
	border: 2px black solid;
	font-family: sans-serif;
	box-shadow: 0 0 5px 3px #999;
}

.info
{
	font-family: ifont;
	font-size: 150px;
}